<div class="row">
  <div class="small-4 medium-4 large-4 small-centered medium-centered large-centered medium-offset-5 large-offset-5
  columns">
    <h3>Log in</h3>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="small-6 large-offset-3 medium-offset-3 columns">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="small-6 large-offset-3 medium-offset-3 columns">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
  <% if devise_mapping.rememberable? -%>
    <div class="row">
        <div class="small-6 large-offset-3 medium-offset-3 columns">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= link_to 'Register', new_user_registration_path %>
        </div>
    </div>
  <% end -%>
    <div class="row">
      <div class="small-6 large-offset-3 medium-offset-3 columns">
        <div class="actions">
          <%= f.submit 'Log in', class: 'button' %>
        </div>
      </div>
    </div>
<% end %>


