<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Happy Pooch" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="row">
       <div class="small-5 small-centered columns">
          <h1>Happy Pooch</h1>
      </div>
    </header>
  <div class="row">
    <div class="small-9 columns">
      <%= yield %>
      <%= javascript_include_tag "application" %>
      <!--<%= render 'layouts/partials/user_widget' %>-->
    </div>
  </div>
  </body>
  <footer>
    <div class="row">
        <hr />
        <div class="small-12 columns">
          <div class="row">
            <div class="small-5 columns">
              <p>&copy; Copyright | <a href="#">Privacy Policy</a></p>
            </div>
          </div>
        </div> 
    </div>
  </footer>
</html>
